*{
  outline: 0;
  padding: 0;
  margin: 0 auto;
  border: 0;
}
.container{
    height: 100%;
    width: 940px;
    margin: 0 auto;
}
.logo{
    width: 103px;
    height: 23px;
}


.preheader{
    width: 1438px;
    height: 768px;
    background-image: url("img/bg1.jpg");
    background-repeat: no-repeat;
}
.preheader__logo{
    display: flex;
    justify-content: center;
    padding-top: 41px;
}
.preheader__title{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    margin-top: 318px;
}
.preheader__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.preheader__anchor{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-decoration:none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin-top: 210px;
}



.header{
    width: 1438px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.header__content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content__logo{
    width: 81px;
    height: 18px;
    padding-top: 24px;
}
.content__menu{
    width: 410px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-right: 1px saddlebrown solid;
    border-left: 1px saddlebrown solid;
}
.menu__item{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
}



.story{
    width: 1438px;
    height: 500px;
    background: #FFFFFF;
}
.story__title{
    margin-top: 57px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.name{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
}
.line{
    margin-top: 10px;
    width: 50px;
    height: 1px;
    background-color: #00A4E5;
}
.text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.story__content{

}
.content__info{

}
.content__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.content__text{

}
.content__images{

}
.images__item{
    width: 140px;
    height: 224px;
    background-repeat: no-repeat;
}
.images__item:first-child{
    background-image: url("img/WePlan.jpg");
}
.images__item:nth-child(2){
    background-image: url("img/WeManage.jpg");
}
.images__item:last-child{
    background-image: url("img/WeBuild.jpg");
}
.images__text{

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    text-transform: uppercase;
}